.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #f2ebe9;
}

.title-contact{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #5E5E5E; 
    width: 60%;   
}

.container-icon-contact {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 45vw;
	flex-wrap: wrap;
}

.icon-box-contact{
    font-size: 3rem;
    color: #525252;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icon-title-appLab{
    width: 26vw;
    text-align: center;
    font-size: 0.8rem;
    width: 24vw;
}

.icon-title{
    font-size: 0.8rem;
}

@media (min-width:376px) and (max-width:480px) {
    .title-contact{
        font-size: 2rem;  
    }
    .icon-title-appLab{
        width: 15vw;
    }
    .container-icon-contact {
        width: 60vw;
       
    }
    
    
}


@media (min-width:481px) and (max-width:768px) {
    .icon-title-appLab{
        width: 13vw;
    }
    .icon-box-contact{
        font-size: 3rem;
    }
    .container-icon-contact {
        width: 75vw;
        
    }
    .title-contact{
        font-size: 2rem;
    }

}

@media (min-width:769px) and (max-width:1200px) {
    .icon-title-appLab{
        width: 7vw;
        font-size: 1rem;
    }
    .icon-box-contact{
        font-size: 4rem;
    }

    .title-contact{
        font-size: 2.5rem;
    }
    .icon-title{
        font-size: 1rem;
    }
    .container-icon-contact {
        width: 60vw;
        
    }
}
@media (min-width:1201px) {
    .icon-title-appLab{
        width: 7vw;
        font-size: 1rem;
    }
    .icon-box-contact{
        font-size: 4rem;
    }

    .title-contact{
        font-size: 2.5rem;
    }
    .icon-title{
        font-size: 1rem;
    }
    .container-icon-contact {
        width: 60vw;
        
    }
}