.container-footer{
   background-color: #f2ebe9;
   position: absolute;
   z-index: 1;
   text-align: center;
   width: 100%;
}
.text-footer{
   text-align: center;
   font-size: 0.8rem;
   color: #444343; 
}

@media only screen and (max-width: 768px) {
    .text-footer{
       font-weight: 600; 
     }

}

@media (min-width:769px) and (max-width:1200px){
   
   .text-footer{
      font-weight: 600; 
    }    
   }

   @media (min-width:1201px) {
      .text-footer{
         font-weight: 600; 
       }    
      }