.container-aboutMe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
    background-color: #fff;
    padding-bottom: 4vh;

}

.principal-title-aboutMe{
    color: #5E5E5E;
    font-weight: 500;
    font-size: 1.5rem;
    height: 8vh;
    padding-top: 2vh;
    
}

.container-img-aboutMe{
    width: 80%;
    padding: 0%;
}

.img-aboutMe{
   width: 100%; 
 
}

.title-aboutMe{
    width: 70%;
    color: #5E5E5E; 
    line-height: 24pt;
    padding-bottom: 7%;
}

.text-aboutMe {
   text-align: left;
   font-size: 1rem;
   margin: 0;
   
}

.button-cv {
    color:#54ACAE;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
 }
@media (min-width:376px) and (max-width:768px) {
    .principal-title-aboutMe{
        font-size: 2rem;
        
    }
   
    .text-aboutMe {
        font-size: 1.2rem;
     
     }
    
}

@media (min-width:769px) and (max-width:1200px) {
    .principal-title-aboutMe{
        z-index: 1;
        margin-top: -60%;
        position: absolute;
        font-size: 2rem;
        padding-top: 10%;
    }
        
    
    .container-aboutMe {
        display: flex;
        flex-direction: row;
        padding-top: 13vh;
       
    
    }

    .text-aboutMe {
        font-size: 1.2rem;
        width: 40vw;
     
     }
     
     .container-img-aboutMe{
        width: 41vw;
        padding-left: 10%;
        padding-top: 7%;
        padding-right: 3%;
    }  
    

    .title-aboutMe {
        width: 45vw;
        padding-right: 5%;
        padding-top: 7%;
    }
    
}

@media (min-width:1201px) {
    .principal-title-aboutMe{
        z-index: 1;
        margin-top: -60%;
        position: absolute;
        font-size: 2rem;
        padding-top: 10%;
    }
        
    
    .container-aboutMe {
        display: flex;
        flex-direction: row;
        padding-top: 13vh;
        transform-style: preserve-3d;
       
    
    }

    .text-aboutMe {
        font-size: 1.2rem;
        width: 40vw;
     
     }
     
     .container-img-aboutMe{
        width: 41vw;
        padding-left: 10%;
        padding-right: 3%;
    }  
    

    .title-aboutMe {
        width: 45vw;
        padding-right: 5%;
        padding-top: 7%;
    }
    }
