.container-aboutMe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
    height: 150vh;
    background-color: #F26646;
    padding-bottom: 4vh;

}

.principal-title-aboutMe{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    height: 8vh;
    
}

.container-img-aboutMe{
    width: 80%;
    padding: 10%;
}

.img-aboutMe{
   width: 100%; 
}

.title-aboutMe{
    width: 70%;
    color: #fff; 
    line-height: 24pt;
    padding-bottom: 7%;
}

.text-aboutMe {
   text-align: left;
   font-size: 1rem;
   margin: 0;
   
}

@media only screen and (max-width: 768px) {
    .principal-title-aboutMe{
        font-size: 2rem;
        
    }
    .container-aboutMe {
        height: 162vh;
      
    }
    .text-aboutMe {
        font-size: 1.2rem;
     
     }
    
}

@media (min-width:769px) and (max-width:1200px) {
    .principal-title-aboutMe{
        z-index: 1;
        margin-top: -68%;
        position: absolute;
        font-size: 2rem;
        padding-top: 10%;
    }
        
    
    .container-aboutMe {
        display: flex;
        flex-direction: row;
        height: 107vh;
    
    }

    .text-aboutMe {
        font-size: 1.2rem;
        width: 40vw;
     
     }
     
     .container-img-aboutMe{
        width: 41vw;
        padding-left: 10%;
        padding-top: 7%;
        padding-right: 3%;
    }  
    

    .title-aboutMe {
        width: 45vw;
        padding-right: 5%;
        padding-top: 22%;
    }
    
}


